body, html {
  margin: 0;
  padding: 0;
  background: #000;
  height: 100%;
  font-family: sans-serif;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.car-image {
  display: block;
  width: 100%;
  height: auto;
}

.title {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-size: 1.5em;
  text-align: center;
}

@keyframes textBlink {
  0%, 100% { opacity: 1; }
  50%     { opacity: 0.5; }
}

.breathing {
  animation: textBlink 2s infinite ease-in-out;
}

.btn {
  padding: 10px 20px;
  font-size: 2.4em;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #00BFEA;
  cursor: pointer;
}

.book-btn {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}

.btn-group {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.category-btn {
  margin: 0 20px;
  font-size: 2.4em;
}

.hazard-light {
  position: absolute;
  width: 8%;
  height: 1%;
  background: orange;
  border-radius: 4px;
  opacity: 0.8;
  animation: hazardBlink 1.5s infinite ease-in-out;
}

@keyframes hazardBlink {
  0%, 100% { opacity: 0.2; }
  50%     { opacity: 1; }
}

.left-light {
  top: 62%;
  left: 23%;
}

.right-light {
  top: 62%;
  left: 71%;
}

/* 表单的样式 */
.form-block {
  background: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 50px;  /* 可以调整表单的上边距 */
}

.form-block label {
  font-size: 1.2em;
  color: #222;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-block input {
  font-size: 1.2em;
  padding: 5px 10px;
  margin: 10px 0;
  width: 80%;
  border-radius: 8px;
  border: 2px solid #00BFEA;
}

/* 提交按钮的样式 */
.form-block .btn {
  padding: 10px 20px;
  background-color: #00BFEA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-block .btn:hover {
  background-color: #009fc7;
}

.hidden {
  display: none;
}
